>## Project that was made in the Data Science class in 2018, where some methods that have been used to analyze data were applied in a dataset during the semester, in order to understand and study its results. 

>## The dataset contains data related to all the schools in the state of São Paulo 

>## Zoltán Hirata Jetsmen - University of São Paulo - São Carlos/SP

In [1]:
# Pandas: library that contains the main functions to manipulate de dataset
import pandas as pd
# Numpy: 
import numpy as np
# Matplotlib and Seaborn: functions to plot the results
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
# Some parameters used
# sep=';' - The character the separate the columns
# header=0 - line that represents the header of the dataset
# enconding='latin1' - econding that contain som sybols used in the portuguese language
# skiprows=11 - the first 11 lines contains the datatse title and the attributes descriptions, that we are going to skip
# thousand='.' - character used to separate the thousands
escolas = pd.read_csv('CADASTRO_MATRICULAS_REGIAO_SUDESTE_SP_2012.csv', sep=';', header=0, encoding='latin1', skiprows=11, thousands=".")
# The last 2 lines do not have anything
escolas = escolas.iloc[0:escolas.shape[0]-2,:]

escolas.head()

/home/zoltan/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ANO_CENSO,PK_COD_ENTIDADE,Nome_Escola,REDE,ID_DEPENDENCIA_ADM,Dependencia_Administrativa,CATESCPRIVADA,Localizacao,REGIAO,FK_COD_ESTADO,...,MATEEINCL,NESCEE,MATESPTOT,NESCEDESP,MATESP,NESCEDESPEXCLUS,MATESPEXCLUS,NESCEDESPCLESP,MATESPCLESP,ESCACESS
0,2012,35000012.0,AYRES DE MOURA PROFESSOR,Pública,2.0,Estadual,NaN,Urbana,Sudeste,35.0,...,6.0,1.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2012,35000024.0,GAVIAO PEIXOTO BRIGADEIRO,Pública,2.0,Estadual,NaN,Urbana,Sudeste,35.0,...,21.0,1.0,21.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2012,35000036.0,JOAO SOLIMEO,Pública,2.0,Estadual,NaN,Urbana,Sudeste,35.0,...,27.0,1.0,27.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2012,35000048.0,WALFREDO ARANTES CALDAS PROFESSOR,Pública,2.0,Estadual,NaN,Urbana,Sudeste,35.0,...,8.0,1.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2012,35000059.0,SEBASTIAO DE OLIVEIRA GUSMAO PROFESSOR,Pública,2.0,Estadual,NaN,Urbana,Sudeste,35.0,...,5.0,1.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0